#about-page {
    background-image: linear-gradient(white, #f0c874);

}

#about-ph{
    text-align: center;
    padding: 100px;
}

#about-ph-text {
    font-size: 44px;
}

#about-div-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 75px;
    overflow: hidden;
}

#about-div-one #about-card {
    height: 25% !important;
    width: 25% !important;
    position: relative;
    top: 50px;
    left: 70px;
    font-size: 15px;
    color: white;
    z-index: 999;
    border-radius: 10px;
}

#about-card .card {
    border: none;
    border-radius: 10px;
}

#about-card .card-body {
    background-color: black;
    border: 2px solid #000 !important;
    padding: 40px;
    border-radius: 10px;
}

#about-div-one img{
    height: 60%;
    width: 60%;
    right: 50px;
    border-radius: 10px;
}

#about-div-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
}

#about-card-2 {
    height: 375px;
    width: 325px;
    padding: 40px;
    top: 70px;
    font-size: 15px;
    background-color: #0A0600;
    color: white;
    z-index: 99;
    
}

#about-div-two img {
    height: 60%;
    width: 60%;
    border-radius: 10px;
    /* left: 70px; */
    position: relative;
    left: 60px
}

