#about-the-studio {
    background-image: url('../../assets/images/jose-pinto-dark50.jpg');
    background-size: cover;
    background-position: bottom;
    align-items: center;
    display: flex;
    flex-direction: column;
}


#about-page h2{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 2px solid #e9e0a9;
    color: #e9e0a9;
    border-radius: 10px;
    padding: 5px 25px;
}

#about-div-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 75px;
    overflow: hidden;
}

#about-div-one #about-card {
    height: 25%;
    width: 25%;
    position: relative;
    top: 50px;
    left: 50px;
    font-size: 20px;
    color: #e9e0a9;
    border: 2px solid #e9e0a9;
    z-index: 999;
    border-radius: 10px;
}

#about-card .card {
    border: none;
    border-radius: 10px;
}

#about-card .card-body {
    background-color: black;
    border: 2px solid #000 !important;
    padding: 40px;
    border-radius: 10px;
}

#about-div-one img{
    height: 600px; 
    width: 800px;
    right: 50px;
    border-radius: 10px;
}

#about-div-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
}

#about-card-2 {
    height: 500px;
    width: 325px;
    padding: 40px;
    top: 50px;
    right: 20px;
    font-size: 20px;
    background-color: #0A0600;
    color: #e9e0a9;
    border: 2px solid #e9e0a9;
    z-index: 99;
    
}

#about-div-two img {
    height: 600px; 
    width: 800px;
    border-radius: 10px;
    /* left: 70px; */
}

#about-services {
    background-color: #e9e0a9;
    padding: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#about-services h2 {
    color: black;
    border: 2px solid black;
    margin-top: 50px;
    /* display: flex;
    justify-content: center; */
}

#about-services-cards {
    display: flex;
    justify-content: center;
}

#about-services-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px; 
    height: 200px;
    margin: 0px 50px 50px 50px;
    background-color: transparent;
    border: 2px solid black;
}

.about-service-icon {
    font-size: 50px;
}

#about-services-cards .card-title  {
    font-size: 27px;
    padding: 25px;
    margin-bottom: 0px;
}

#about-bottom-contact {
    display: flex;
    justify-content: space-evenly;
    background-image: url('../../assets/images/skye-studios-NDLLFxTELrU-unsplash.jpg');
    background-position: center left;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    align-items: center;
}

#about-contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
    margin-bottom: 50px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 30px;
    backdrop-filter: blur(10px);
}

#about-contact-form h2 {
    color: white;
    font-size: 40px;
    padding: 0px 0px 50px 0px ;
    border: none;
    margin: 0px;
}

/* Extra small devices */
@media only screen and (min-width: 320px) and (max-width: 479px) {

    /* #about-div-one {
        flex-direction: column;
    } */

    #about-div-one img {
        display: none;
    }

    #about-div-one #about-card {
        width: 100%;
        top: 0px;
        left: 0px;
        margin: 25px;
    }

    #about-div-two {
        margin-top: 0px;
    }

    #about-div-two img {
        display: none;
    }

    #about-card-2 {
        top: 0px;
        right: 0px;
        border-radius: 10px;
    }

    #about-services h2 {
        font-size: 35px;
    }

    #about-services-cards {
        flex-direction: column;
    }

    #about-contact-form {
        width: 80%;
    }

    #about-bottom-contact #google-map {
        display: none;
    }
}

/* Portrait tablets and large phones, 600px + */
@media only screen and (min-width: 480px) and (max-width: 768px) {

}

/* Landscape tablets, 768px + */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  
}