#splashVideo {
    background-color: black;
}

#splashVideo video {
    height: 50%;
    width: 100%;
}

#home-splash-text {
    position: absolute;
    top: 90%;
    left: 8%;
    color: #e9e0a9;
  }

#our-services{
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: black;
}

#our-services h3 {
    font-size: 40px;
    color: #e9e0a9;
    padding: 15px;
    border: 2px solid #e9e0a9;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
} 

#services-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(black,#e9e0a9);
    padding: 0px 50px 50px 50px;
}

#IMG {
    height: 100%;
    width: 100%;
    object-fit:cover !important;
}
.service-card {
    border: 0px solid !important;
    padding: 0px !important;
    border-radius: 5px !important; 
    justify-content: center !important;
    text-align:center;
}

.card-column {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center !important;
    padding: 20px;
}

.service-card-text {
    font-size: 30px !important;
    text-decoration: none;
    color: #ffff;
}

.card-img-overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s ease;
}

.card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-bottom-contact {
    background-image: url('../../assets/images/sound-board-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#hp-contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
    margin-bottom: 50px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 30px;
    backdrop-filter: blur(10px);
}

#hp-contact-form h2 {
    color: white;
    font-size: 35px;
    padding-bottom: 25px;
}

/* Extra small devices */
@media only screen and (min-width: 320px) and (max-width: 479px) {

    #home-splash-text {
        display: none;
    }

    #our-services h3 {
        font-size: 25px;
    }


    #services-row {
         flex-direction: column;   
    }

    #home-bottom-contact {
        flex-direction: column;
        justify-content: center;
    }

    #hp-contact-form {
        width: 75%;
    }

    #form-slot-3 textarea {
        width: 100%;
    }

    #home-google-map {
       display: none;
    }
    
}

/* Portrait tablets and large phones, 600px + */
@media only screen and (min-width: 480px) and (max-width: 768px) {

}

/* Landscape tablets, 768px + */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  
}