#navTabs {
  z-index: 9999;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  list-style: none;
  background-color: black;
  padding: 10px;
}

.nav {
  background-color: black;
  justify-content: center;
  padding-bottom: 20px;
}



#groupName {
  background-color: black;
  text-align: center;
  margin-bottom: 0px;
  padding: 30px;
  margin-bottom: 0px;
}

#groupName a {
  color: #e9e0a9;
  text-decoration: none;
  font-size: 35px;
  border: 2px solid #e9e0a9;
  border-radius: 5px;
  padding: 8px;
}

.tab {
  color: #e9e0a9 !important;
  text-decoration: none;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.dropdown a{
  color: #e9e0a9;
  
}

.dropdown-item a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

.nav-item a:hover{
  color: rgb(112, 80, 21);
  transition: 0.3s ease-in-out;
}

.tab:hover{
  color: rgb(112, 80, 21) !important;
  transition: 0.3s ease-in-out;
}
