#mastering {
    display: flex;
}

.splash-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e9e0a9;
    font-size: 40px;
  }

#sliderIMG {
    height: 100%;
    width: 100%;
}