#footer {
    display: flex;
    background-color: black;
    padding: 20px;
    border-top: 1px solid #e9e0a9;
    align-items: center;
    justify-content: space-between;
}

#footer img {
    height: 20%; 
    width: 20%;
}

#footer-menu {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 20px;
}

#footer-menu a {
    text-decoration: none;
    color: #e9e0a9;
    padding: 2px;
}
#footer-menu a:hover {
    color: rgb(112, 80, 21);
    transition: 0.3s ease-in-out;
}

#footer-book-btn {
    font-size: 20px;
    margin-top: 10px;
}



/* Extra small devices */
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #footer img {
        height: 35%; 
        width: 35%;
    }
}

/* Portrait tablets and large phones, 600px + */
@media only screen and (min-width: 480px) and (max-width: 768px) {

}

/* Landscape tablets, 768px + */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  
}