#mixerIMG {
    height: 100%;
    width: 100%;
}

#mixing-cards {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-image: linear-gradient(white, #e9e0a9);
}

#mix-splash-text {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, 50%);
    color: #e9e0a9;
    font-size: 45px;
}

.mixing-card {
    margin: 30px;
    padding: 30px;
    height: 400px !important;
    width: 300px !important;
    text-align: center;
    --bs-card-bg:: none !important;
    border-radius: 10px !important;
    border: 2px solid black !important;
}